
.synopsis{
   margin-top: 4rem;
}

.carousel-indicators{
   top: 0px; 
   position: relative;
}
.carousel-control-next, .carousel-control-prev{
   top: 0px; 
   height: 30px;
}

.code:hover {
   transform: scale(1.3); 
   transition: all .3s ease-in-out;
 }