
.synopsis{
   margin-top: 4rem;
}

.carousel-indicators{
   top: 380px; 
   height: 10px;
}
.carousel-control-next, .carousel-control-prev{
   top: -150px; 
   height: 700px;
}

.code:hover {
   transform: scale(1.3); 
   transition: all .3s ease-in-out;
 }