
.synopsis{
   margin-top: 4rem;
}

.carousel-indicators{
   top: 0px; 
   position: relative;
}
.carousel-control-next, .carousel-control-prev{
   top: 0px; 
   height: 30px;
}

.code{
   background-color: #303030;
   color: white;
   margin-bottom: 15px;
}

.code:hover {
   background-color:red; 
   transition: all .3s ease-in-out;
 }

 .img-border{
    border: solid;
    border-color: #9b9b9b;
    border-width: 1.5px;
 }