
#header{
    flex-flow: row;
    padding-bottom: 50px;
    
}

#flags{
        display:flex;
        align-items: flex-start;
        padding-top: 5vh;
    .flag{
        opacity: 1;
        background-color: transparent;
        border-color: transparent;
        img{
            height: 2rem;   
        }  
    }
    .flag:focus  {visibility: hidden;}
}



#eng{
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
}

.name{
    font-size: 190%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    text-align: center;   
}

@media only screen and (max-width: 600px) {
    #header{
        height: auto;
        }
    #flags .flag img {
            height: 1.5rem;
        }
    }